@import url(http://fonts.googleapis.com/css?family=Chau+Philomene+One|Russo+One|Days+One|Gorditas:700|Bree+Serif|Krona+One|Averia+Gruesa+Libre|VT323|Bowlby+One+SC|Open+Sans+Condensed:700);

body {
	padding-top: 48px;
	padding-bottom: 10px;    
}
#cvs {
	outline: 10px solid Transparent;
}
/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 34px 0 14px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
#img-link {
	border: none;
	box-shadow: none;
	outline: none;
	width: 360px;
}

.label-dropdown-selection {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
}

.slider.addon-slider { 
	width: 140px; 
	padding-left: 10px; 
	padding-right: 12px; 
}

input[data-slider] {
	margin-bottom: 0px;
}

.meme-list-wrapper {
 position: relative;  
}
.meme-list-container {
 position: absolute;
 padding: 1em 0;
 border: 1px solid #000;
 border-top: none;
 background-color: #F9F9F9; 
 max-height: 600px;
 overflow-y: auto;
 overflow-x: hidden;
 z-index: 100;
}
.image-container {
 position: relative;
 min-height: 360px;
}
.image-container > img {
	position: absolute;
	top: 116px;
	left: 176px;
}
